<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kieranburns.mobappcourseworkproject">

    <application
        android:allowBackup="false"
        android:icon="@drawable/title"
        android:label="Better Act Fast!"
        android:roundIcon="@drawable/title"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Play"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".HelpButton" />
    </application>

</manifest>